@tailwind base;
@tailwind components;
@tailwind utilities;

/* npm tailwindcss init --full */

/* main {
    background-image: url(../public/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
} */

.nav.show ul {
    display: flex;
}